DEBUG=1
DOMAIN=
DJANGO_ALLOWED_HOSTS='localhost 127.0.0.1 [::1] 0.0.0.0'
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=your_db_name
SQL_USER=your_db_user
SQL_PASSWORD=your_db_password
SQL_HOST=127.0.0.1
SQL_PORT=5436
SENTRY_SDK=
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=your_minio_key
MINIO_SECRET_KEY=your_minio_secret
MINIO_SECURE=0
BUCKET_NAME=avatars
KAVENEGAR_KEY=your_kavenegar_key
KAVENEGAR_NUM=your_sender_number
CACHE_TIMEOUT=28800
REDIS_HOST=localhost
REDIS_PORT=6379
ELASTICSEARCH_HOSTS=http://127.0.0.1:9200
EMAIL_HOST_USER=your_email@example.com
EMAIL_HOST_PASSWORD=your_email_app_password
SUPERUSER_USERNAME=admin
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PHONE=09120000000
SUPERUSER_PASSWORD=your_password
